<img src="schema-pessoa.png" width="100"/>

In [3]:
import pandas as pd
import psycopg2 as pg

In [4]:
con = pg.connect(host='localhost', 
                 dbname='fbd-conexao', 
                 user='postgres', 
                 password='postgres')

In [5]:
nome = 'Fernanda Maria'
cpf='00800200347'
sexo='F'
nascimento='31-10-1994'
salario=20000.00

In [6]:
cursor = con.cursor()

In [7]:
cursor.execute('insert into pessoa (nome, cpf, sexo, nascimento, salario) values (%s,%s,%s,%s,%s)',
               (nome, cpf,sexo, nascimento, salario))

UniqueViolation: ERRO:  duplicar valor da chave viola a restrição de unicidade "pessoa_pkey"
DETAIL:  Chave (cpf)=(00800200347) já existe.

In [ ]:
con.commit()

In [ ]:
cursor.execute('select * from pessoa;')
cursor.fetchall()

In [ ]:
try:
    cursor.execute('insert into pessoa (nome, cpf, sexo, nascimento, salario) values (%s,%s,%s,%s,%s)',
               (nome, cpf,sexo, nascimento, salario))
    con.commit()
    print('Sucesso"')
except:
    cursor.execute('ROLLBACK')
    print('Fail"')

In [ ]:
cursor.close()
con.close()

In [ ]:
import sqlalchemy
from sqlalchemy import create_engine

In [ ]:
con2 = 'postgresql://postgres:postgres@localhost/fbd-conexao'
sqlalchemy.create_engine(con2)

In [ ]:
query = "select * from pessoa"
df = pd.read_sql_query(query, con2)

In [ ]:
df